In [91]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()
from numpy import asarray
from sklearn.preprocessing import OneHotEncoder

customerData = pd.read_csv('dataset\customerData_Clean.csv')
customerData = customerData.drop(columns="Dt_Customer")

In [92]:
colOfNum = ['Year_Birth', 'Income', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'MntGroceryProducts', 'TotalPurchase']
colOfCat = ['Education', 'Marital_Status', 'YearRange', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Response', 'Kidhome', 'Teenhome']
print("Column of numerical data:",colOfNum)
print()
print("Column of categorical data:",colOfCat)

Column of numerical data: ['Year_Birth', 'Income', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'MntGroceryProducts', 'TotalPurchase']

Column of categorical data: ['Education', 'Marital_Status', 'YearRange', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Response', 'Kidhome', 'Teenhome']

### One Hot Encoding of Categorical Variables

In [93]:
from numpy import asarray
from sklearn.preprocessing import OneHotEncoder

# define one hot encoding
encoder = OneHotEncoder(sparse=False)

# initialise variables
edu, ms, yrange, ac3, ac4, ac5, ac1, ac2, com, res, kid, teen =\
[pd.DataFrame(customerData[categories]) for categories in colOfCat]

edu_dict, ms_dict, yrange_dict, ac3_dict, ac4_dict,\
ac5_dict, ac1_dict, ac2_dict, com_dict, res_dict, kid_dict,\
teen_dict = {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}

var_cat_list = [edu, ms, yrange, ac3, ac4, ac5, ac1, ac2, com, res, kid, teen]
dict_list = [edu_dict, ms_dict, yrange_dict, ac3_dict, ac4_dict,\
ac5_dict, ac1_dict, ac2_dict, com_dict, res_dict, kid_dict, teen_dict]


def make_dict(a_dict, data, onehot):
    for i in range(len(data)):
        key = data[i][0]
        value = ''
        for ch in onehot[i]:
            value += str(ch)
        a_dict[key] = value

def prepare_data(category):
    category = category.squeeze()
    category = pd.unique(category)
    data = [[elements] for elements in category]
    data = asarray(data)
    return data

for i in range(len(dict_list)):
    data = prepare_data(var_cat_list[i])
    onehot = encoder.fit_transform(data)
    make_dict(dict_list[i], data, onehot)

print(edu_dict)

{'Graduation': '0.00.01.00.00.0', 'PhD': '0.00.00.00.01.0', 'Master': '0.00.00.01.00.0', 'Basic': '0.01.00.00.00.0', '2n Cycle': '1.00.00.00.00.0'}

### Splitting the Train and Test sets for all variables

In [94]:
from sklearn.model_selection import train_test_split

birth, inc, rec, wine, fruit, meat, fish, sweet, gold, deals, web, cat, store, webv, gro, tot  =\
[pd.DataFrame(customerData[categories]) for categories in colOfNum]

var_num_list = [birth, inc, rec, wine, fruit, meat, fish, sweet, gold, deals,\
    web, cat, store, webv, gro, tot]

huge_list1 = train_test_split(birth, inc, rec, wine, fruit, meat, fish, sweet, gold, deals,\
    web, cat, store, webv, gro, tot,\
    test_size = 0.20, random_state = 1)

huge_list2 = train_test_split(edu, ms, dtCus, yrange, ac3, ac4, ac5, ac1,\
     ac2, com, res, kid, teen,\
    test_size = 0.20, random_state = 1)

print(len(huge_list1))
print(len(huge_list2))

train_num = [huge_list1[i] for i in range(0, len(huge_list1), 2)]
test_num = [huge_list1[i] for i in range(1, len(huge_list1), 2)]

train_cat = [huge_list2[i] for i in range(0, len(huge_list2), 2)]
test_cat = [huge_list2[i] for i in range(1, len(huge_list2), 2)]

train = pd.concat(train_num + train_cat, axis = 1)
test = pd.concat(test_num + test_cat, axis = 1)

train.to_csv('dataset/train_data.csv')  
test.to_csv('dataset/test_data.csv')

32
26

In [95]:
cc = customerData.copy()

print(cc.columns)


print(dict_list[0])
print(dict_list[0]['Graduation'])

for i in range (len(colOfCat)):
    cur_dict = dict_list[i]
    col = colOfCat[i]
    # for keys in cur_dict:
    #     cc[col] = cc[col].replace([keys], cur_dict[keys])
    cc[col] = cc[col].replace(cur_dict)

cc

Index(['Unnamed: 0', 'Year_Birth', 'Education', 'Marital_Status', 'Income',
       'Kidhome', 'Teenhome', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Response', 'MntGroceryProducts',
       'TotalPurchase', 'YearRange'],
      dtype='object')
{'Graduation': '0.00.01.00.00.0', 'PhD': '0.00.00.00.01.0', 'Master': '0.00.00.01.00.0', 'Basic': '0.01.00.00.00.0', '2n Cycle': '1.00.00.00.00.0'}
0.00.01.00.00.0

,Unnamed: 0,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,MntGroceryProducts,TotalPurchase,YearRange
0,0,1957,0.00.01.00.00.0,0.00.01.0,58138.0,1.00.00.0,1.00.00.0,58,635,88,...,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,0.01.0,806,25,0.00.00.01.00.00.00.00.0
1,1,1954,0.00.01.00.00.0,0.00.01.0,46344.0,0.01.00.0,0.01.00.0,38,11,1,...,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,9,6,0.00.00.01.00.00.00.00.0
2,2,1965,0.00.01.00.00.0,0.01.00.0,71613.0,1.00.00.0,1.00.00.0,26,426,49,...,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,287,21,0.00.00.00.01.00.00.00.0
3,3,1984,0.00.01.00.00.0,0.01.00.0,26646.0,0.01.00.0,1.00.00.0,26,11,4,...,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,34,8,0.00.00.00.00.00.01.00.0
4,4,1981,0.00.00.00.01.0,0.01.00.0,58293.0,0.01.00.0,1.00.00.0,94,173,43,...,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,207,19,0.00.00.00.00.00.01.00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,2203,1967,0.00.01.00.00.0,0.01.00.0,61223.0,1.00.00.0,0.01.00.0,46,709,43,...,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,267,18,0.00.00.00.01.00.00.00.0
2204,2204,1946,0.00.00.00.01.0,0.01.00.0,64014.0,0.00.01.0,0.01.00.0,56,406,0,...,1.00.0,1.00.0,1.00.0,0.01.0,1.00.0,1.00.0,1.00.0,30,22,0.00.01.00.00.00.00.00.0
2205,2205,1981,0.00.01.00.00.0,1.00.00.0,56981.0,1.00.00.0,1.00.00.0,91,908,48,...,1.00.0,0.01.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,297,19,0.00.00.00.00.00.01.00.0
2206,2206,1956,0.00.00.01.00.0,0.01.00.0,69245.0,1.00.00.0,0.01.00.0,8,428,30,...,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,324,23,0.00.00.01.00.00.00.00.0
2207,2207,1954,0.00.00.00.01.0,0.01.00.0,52869.0,0.01.00.0,0.01.00.0,40,84,3,...,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,1.00.0,0.01.0,66,11,0.00.00.01.00.00.00.00.0