## Importing Libraries

In [4]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [8]:
customerData = pd.read_csv('dataset\customerData_Clean.csv')

## Showing the data

In [9]:
customerData

,Unnamed: 0,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,MntGroceryProducts,TotalPurchase,YearRange
0,0,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,0,0,1,806,25,1950
1,1,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,0,0,0,0,9,6,1950
2,2,1965,Graduation,Married,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,0,0,0,287,21,1960
3,3,1984,Graduation,Married,26646.0,1,0,10-02-2014,26,11,...,0,0,0,0,0,0,0,34,8,1980
4,4,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,0,0,0,207,19,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,2203,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,0,0,0,0,0,0,0,267,18,1960
2204,2204,1946,PhD,Married,64014.0,2,1,10-06-2014,56,406,...,0,0,0,1,0,0,0,30,22,1940
2205,2205,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,0,1,0,0,0,0,0,297,19,1980
2206,2206,1956,Master,Married,69245.0,0,1,24-01-2014,8,428,...,0,0,0,0,0,0,0,324,23,1950
2207,2207,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,0,0,0,0,0,0,1,66,11,1950