In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()
from numpy import asarray
from sklearn.preprocessing import OneHotEncoder

customerData = pd.read_csv('dataset\customerData_Clean.csv')

In [2]:
colOfNum = ['Year_Birth', 'Income', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'MntGroceryProducts', 'TotalPurchase']
colOfCat = ['Education', 'Marital_Status', 'YearRange', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Response', 'Kidhome', 'Teenhome']
print("Column of numerical data:",colOfNum)
print()
print("Column of categorical data:",colOfCat)

Column of numerical data: ['Year_Birth', 'Income', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'MntGroceryProducts', 'TotalPurchase']

Column of categorical data: ['Education', 'Marital_Status', 'YearRange', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Response', 'Kidhome', 'Teenhome']

### One Hot Encoding of Categorical Variables

In [15]:
customerData["Education"].describe()

count           2208
unique             5
top       Graduation
freq            1113
Name: Education, dtype: object

In [16]:
# Import the encoder from sklearn
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

# OneHotEncoding of categorical predictors (not the response)
customerData_cat = customerData[colOfCat]
ohe.fit(customerData_cat)
customerData_cat_ohe = pd.DataFrame(ohe.transform(customerData_cat).toarray(), 
                                  columns=ohe.get_feature_names_out(customerData_cat.columns))

# Check the encoded variables
customerData_cat_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2208 entries, 0 to 2207
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Education_2n Cycle       2208 non-null   float64
 1   Education_Basic          2208 non-null   float64
 2   Education_Graduation     2208 non-null   float64
 3   Education_Master         2208 non-null   float64
 4   Education_PhD            2208 non-null   float64
 5   Marital_Status_Divorced  2208 non-null   float64
 6   Marital_Status_Married   2208 non-null   float64
 7   Marital_Status_Single    2208 non-null   float64
 8   YearRange_1890           2208 non-null   float64
 9   YearRange_1900           2208 non-null   float64
 10  YearRange_1940           2208 non-null   float64
 11  YearRange_1950           2208 non-null   float64
 12  YearRange_1960           2208 non-null   float64
 13  YearRange_1970           2208 non-null   float64
 14  YearRange_1980           2208 non-null   float64
 15  YearRange_1990           2208 non-null   float64
 16  AcceptedCmp3_0           2208 non-null   float64
 17  AcceptedCmp3_1           2208 non-null   float64
 18  AcceptedCmp4_0           2208 non-null   float64
 19  AcceptedCmp4_1           2208 non-null   float64
 20  AcceptedCmp5_0           2208 non-null   float64
 21  AcceptedCmp5_1           2208 non-null   float64
 22  AcceptedCmp1_0           2208 non-null   float64
 23  AcceptedCmp1_1           2208 non-null   float64
 24  AcceptedCmp2_0           2208 non-null   float64
 25  AcceptedCmp2_1           2208 non-null   float64
 26  Complain_0               2208 non-null   float64
 27  Complain_1               2208 non-null   float64
 28  Response_0               2208 non-null   float64
 29  Response_1               2208 non-null   float64
 30  Kidhome_0                2208 non-null   float64
 31  Kidhome_1                2208 non-null   float64
 32  Kidhome_2                2208 non-null   float64
 33  Teenhome_0               2208 non-null   float64
 34  Teenhome_1               2208 non-null   float64
 35  Teenhome_2               2208 non-null   float64
dtypes: float64(36)
memory usage: 621.1 KB

In [17]:
print(customerData["Education"].describe())
print(customerData_cat_ohe["Education_2n Cycle"].describe())

count           2208
unique             5
top       Graduation
freq            1113
Name: Education, dtype: object
count    2208.000000
mean        0.091033
std         0.287721
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Education_2n Cycle, dtype: float64

In [18]:
customerData_num = customerData[colOfNum]
customerData_ohe  = pd.concat([customerData_num, customerData_cat_ohe], 
                           sort = False, axis = 1).reindex(index=customerData_num.index)

# Check the final dataframe
customerData_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2208 entries, 0 to 2207
Data columns (total 52 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year_Birth               2208 non-null   int64
 1   Income                   2208 non-null   float64
 2   Recency                  2208 non-null   int64
 3   MntWines                 2208 non-null   int64
 4   MntFruits                2208 non-null   int64
 5   MntMeatProducts          2208 non-null   int64
 6   MntFishProducts          2208 non-null   int64
 7   MntSweetProducts         2208 non-null   int64
 8   MntGoldProds             2208 non-null   int64
 9   NumDealsPurchases        2208 non-null   int64
 10  NumWebPurchases          2208 non-null   int64
 11  NumCatalogPurchases      2208 non-null   int64
 12  NumStorePurchases        2208 non-null   int64
 13  NumWebVisitsMonth        2208 non-null   int64
 14  MntGroceryProducts       2208 non-null   int64
 15  TotalPurchase            2208 non-null   int64
 16  Education_2n Cycle       2208 non-null   float64
 17  Education_Basic          2208 non-null   float64
 18  Education_Graduation     2208 non-null   float64
 19  Education_Master         2208 non-null   float64
 20  Education_PhD            2208 non-null   float64
 21  Marital_Status_Divorced  2208 non-null   float64
 22  Marital_Status_Married   2208 non-null   float64
 23  Marital_Status_Single    2208 non-null   float64
 24  YearRange_1890           2208 non-null   float64
 25  YearRange_1900           2208 non-null   float64
 26  YearRange_1940           2208 non-null   float64
 27  YearRange_1950           2208 non-null   float64
 28  YearRange_1960           2208 non-null   float64
 29  YearRange_1970           2208 non-null   float64
 30  YearRange_1980           2208 non-null   float64
 31  YearRange_1990           2208 non-null   float64
 32  AcceptedCmp3_0           2208 non-null   float64
 33  AcceptedCmp3_1           2208 non-null   float64
 34  AcceptedCmp4_0           2208 non-null   float64
 35  AcceptedCmp4_1           2208 non-null   float64
 36  AcceptedCmp5_0           2208 non-null   float64
 37  AcceptedCmp5_1           2208 non-null   float64
 38  AcceptedCmp1_0           2208 non-null   float64
 39  AcceptedCmp1_1           2208 non-null   float64
 40  AcceptedCmp2_0           2208 non-null   float64
 41  AcceptedCmp2_1           2208 non-null   float64
 42  Complain_0               2208 non-null   float64
 43  Complain_1               2208 non-null   float64
 44  Response_0               2208 non-null   float64
 45  Response_1               2208 non-null   float64
 46  Kidhome_0                2208 non-null   float64
 47  Kidhome_1                2208 non-null   float64
 48  Kidhome_2                2208 non-null   float64
 49  Teenhome_0               2208 non-null   float64
 50  Teenhome_1               2208 non-null   float64
 51  Teenhome_2               2208 non-null   float64
dtypes: float64(37), int64(15)
memory usage: 897.1 KB

### Splitting the Train and Test sets for all variables

In [19]:
from sklearn.model_selection import train_test_split
a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16 =\
[pd.DataFrame(customerData[categories]) for categories in colOfCat]

birth, inc, rec, wine, fruit, meat, fish, sweet, gold, deals, web, cat, store, webv, gro, tot  =\
[pd.DataFrame(customerData[categories]) for categories in colOfNum]

var_num_list = [birth, inc, rec, wine, fruit, meat, fish, sweet, gold, deals,\
    web, cat, store, webv, gro, tot]

huge_list1 = train_test_split(birth, inc, rec, wine, fruit, meat, fish, sweet, gold, deals,\
    web, cat, store, webv, gro, tot,\
    test_size = 0.20, random_state = 1)

huge_list2 = train_test_split(edu, ms, yrange, ac3, ac4, ac5, ac1,\
     ac2, com, res, kid, teen,\
    test_size = 0.20, random_state = 1)

print(len(huge_list1))
print(len(huge_list2))

train_num = [huge_list1[i] for i in range(0, len(huge_list1), 2)]
test_num = [huge_list1[i] for i in range(1, len(huge_list1), 2)]

train_cat = [huge_list2[i] for i in range(0, len(huge_list2), 2)]
test_cat = [huge_list2[i] for i in range(1, len(huge_list2), 2)]

train = pd.concat(train_num + train_cat, axis = 1)
test = pd.concat(test_num + test_cat, axis = 1)

train.to_csv('dataset/train_data.csv')  
test.to_csv('dataset/test_data.csv')

ValueError: not enough values to unpack (expected 16, got 12)

In [20]:
cc = customerData.copy()

print(cc.columns)

for i in range (len(colOfCat)):
    for j in range(len(cc)):
        col = colOfCat[i]
        print(j, end = " ")
        cc.loc[j, col] = dict_list[i][col]

Index(['Unnamed: 0', 'Year_Birth', 'Education', 'Marital_Status', 'Income',
       'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines',
       'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Response', 'MntGroceryProducts',
       'TotalPurchase', 'YearRange'],
      dtype='object')
0

NameError: name 'dict_list' is not defined

In [4]:
from sklearn.model_selection import KFold

X = pd.DataFrame(customerData[['Year_Birth', 'Education', 'Marital_Status', 'Complain', 
                                 'NumWebVisitsMonth', 'YearRange', 'HaveChild', 'AcceptedCmp']])
Y = pd.DataFrame(customerData[['Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
                                  'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 
                                  'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases',
                                 'MntGroceryProducts', 'TotalPurchase', 'TotalChild']])

kf = KFold(n_splits=2)

for train_index, test_index in kf.split(X, Y):
#     print("TRAIN:", train_index) 
#     print("TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]
    
train_data = pd.concat([X_train, Y_train])
test_data = pd.concat([X_test, Y_test])
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2188 entries, 0 to 1093
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           1094 non-null   float64
 1   Education            1094 non-null   object
 2   Marital_Status       1094 non-null   object
 3   Complain             1094 non-null   float64
 4   NumWebVisitsMonth    1094 non-null   float64
 5   YearRange            1094 non-null   float64
 6   HaveChild            1094 non-null   float64
 7   AcceptedCmp          1094 non-null   float64
 8   Income               1094 non-null   float64
 9   Kidhome              1094 non-null   float64
 10  Teenhome             1094 non-null   float64
 11  Dt_Customer          1094 non-null   object
 12  Recency              1094 non-null   float64
 13  MntWines             1094 non-null   float64
 14  MntFruits            1094 non-null   float64
 15  MntMeatProducts      1094 non-null   float64
 16  MntFishProducts      1094 non-null   float64
 17  MntSweetProducts     1094 non-null   float64
 18  MntGoldProds         1094 non-null   float64
 19  NumDealsPurchases    1094 non-null   float64
 20  NumWebPurchases      1094 non-null   float64
 21  NumCatalogPurchases  1094 non-null   float64
 22  NumStorePurchases    1094 non-null   float64
 23  MntGroceryProducts   1094 non-null   float64
 24  TotalPurchase        1094 non-null   float64
 25  TotalChild           1094 non-null   float64
dtypes: float64(23), object(3)
memory usage: 461.5+ KB

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2188 entries, 1094 to 2187
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           1094 non-null   float64
 1   Education            1094 non-null   object
 2   Marital_Status       1094 non-null   object
 3   Complain             1094 non-null   float64
 4   NumWebVisitsMonth    1094 non-null   float64
 5   YearRange            1094 non-null   float64
 6   HaveChild            1094 non-null   float64
 7   AcceptedCmp          1094 non-null   float64
 8   Income               1094 non-null   float64
 9   Kidhome              1094 non-null   float64
 10  Teenhome             1094 non-null   float64
 11  Dt_Customer          1094 non-null   object
 12  Recency              1094 non-null   float64
 13  MntWines             1094 non-null   float64
 14  MntFruits            1094 non-null   float64
 15  MntMeatProducts      1094 non-null   float64
 16  MntFishProducts      1094 non-null   float64
 17  MntSweetProducts     1094 non-null   float64
 18  MntGoldProds         1094 non-null   float64
 19  NumDealsPurchases    1094 non-null   float64
 20  NumWebPurchases      1094 non-null   float64
 21  NumCatalogPurchases  1094 non-null   float64
 22  NumStorePurchases    1094 non-null   float64
 23  MntGroceryProducts   1094 non-null   float64
 24  TotalPurchase        1094 non-null   float64
 25  TotalChild           1094 non-null   float64
dtypes: float64(23), object(3)
memory usage: 461.5+ KB

In [17]:
train_data.to_csv('dataset/new_train_data.csv')

In [18]:
test_data.to_csv('dataset/new_test_data.csv')